* {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
input {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 5px 4px lightgray;
  height: 40px;
  width: 900px;
  border: none;
  border-radius:25px;
  box-sizing: border-box;
  padding-left: 10px;
}

input::placeholder {
  padding-left: 1px;
  color: black;
}
input:focus {
  outline: none;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 10px;
  max-width: 1300px;
  background-color:whitesmoke;
  margin-top: 50px;
}
.cart-container {
  height: 250px;
  width: 230px;
}
.cart {
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 4px lightgray;
  background-color:white;
  color:black;
  padding: 10px;
}
.cart img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.para1 {
  font-size: 16px;
  text-align: center;
  text-wrap: wrap;
  margin: 10px 0px;
}
.para2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.buttonClick {
  display: flex;
  width: 700px;
  height: 70px;
  margin-top: 50px;
  align-items: center;
}
.btn-class {
  border: none;
  height: 40px;
  width:120px;
  padding: 10px;
  background: green;
   box-shadow: 2px 2px 5px 4px lightgray;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-30px;
}
.button {
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  color:black;
  background-color:white;
  font-size: 20px;
  border: none;
  text-align: center;
}
.page{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.span1{
  font-size: 25px;
}
@media  only screen and (max-width:275px) {
  input {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 5px 4px lightgray;
  height: 40px;
  width: 200px;
  border: none;
  border-radius:25px;
  box-sizing: border-box;
  padding-left: 10px;
}
input::placeholder {
  padding-left: 1px;
  color: black;
}
input:focus {
  outline: none;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  column-gap: 10px;
  max-width: 1300px;
  background-color:whitesmoke;
  margin-top: 50px;
}
.cart {
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 4px lightgray;
  background-color:white;
  color:black;
  padding: 10px;
}
.cart img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.para2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.buttonClick {
  display: flex;
  width:100%;
  height: 70px;
  margin-top: 50px;
  align-items: center;
}
.btn-class {
  border: none;
  height: 40px;
  width:20%;
 
  padding: 10px;
  background: green;
   box-shadow: 2px 2px 5px 4px lightgray;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-50px;
}
.button {
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  color:black;
  background-color:white;
  font-size: 20px;
  border: none;
  text-align: center;
}
.page{
  display: flex;
  justify-content:center;
  gap:2px;
  width:100%;
}
.span1{
font-size:medium;
}

  
}