.error{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9966;
    color:black;
}
@media only screen and (max-width:275) {
    .error{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9966;
    color:black;
}
    
}