.error{
    width:100%;
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color:black;
    border-radius: 9px;
}
.error p{
    font-size: 40px;
    line-height: 4px;
}
.color{
    color: orange;
}
.parent-error{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 20px;
}
@media only screen and (max-width:275) {
    .error{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9966;
    color:black;
}
    
}